#animateDiv{
    width: 120px;
    height: 110px;
    background-color: blueviolet;
}

#animateDiva{
    width:  70px;
    height: 70px;
    border-radius: 55px;
    background-color: aqua;
    position: relative;
    animation-name: change;
    animation-duration: 5s;

    
}

@keyframes change {
    0% {
      background-color: aqua;
    }
    10% {
      background-color: white;
    }
    30% {
      background-color: rgb(136, 88, 88);
    }
    60% {
      background-color: rgb(103, 119, 190);
    }
    80% {
      background-color: rgb(180, 169, 11);
    }
    100% {
      background-color: rgb(12, 233, 130);
    }}